
<h2>Login Form</h2>

<form name="userForm" ng-submit="validate()" novalidate>
      
        <!-- USERNAME -->
      <div class="form-group" >
            <label>Username</label>
            <input type="text" name="username" ng-model="validateData.username">
        </div>
        
        <!-- PASSWORD -->
      <div class="form-group">
            <label>Password</label>
            <input type="password" name="password"  ng-model="validateData.password">
        </div>
        
        <button type="submit" ng-disabled="userForm.$invalid">Submit</button>
        
    </form>
	