<html  ng-app="app">
<head>
    <title>Angular-Inline Editor Demo</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
<script src="http://code.angularjs.org/1.2.3/angular-route.js"></script>
<script src="app.js"></script>
</head>

<body>

<h2>Login Form</h2>

<form name="userForm" ng-submit="submitForm()" novalidate>
      
        <!-- USERNAME -->
        <div class="form-group" >
            <label>Username</label>
            <input type="text" name="username" ng-model="validateData.username">
        </div>
        
        <!-- PASSWORD -->
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password"  ng-model="validateData.password">
        </div>
        
        <button type="submit" ng-disabled="userForm.$invalid">Submit</button>
        
    </form>

</body>
</html>